<h3>Welcome to the Wedding Planner, @ViewBag.UserInfo.fname</h3>

<a href="logout">Log Out</a>
<br>
<br>
<table>
    <tr>
        <td>Wedding</td>
        <td>Date</td>
        <td>Guest</td>
        <td>Action</td>
    </tr>
    @model List<wedding.Models.Wedding>
        @foreach(var w in Model){
            <tr>
                <td><a href="showwedding/@w.WeddingId">@w.wedder_1 & @w.wedder_2</a></td>
                <td>@w.date.ToString("MMMM d yyyy")</td>
                <td>@w.UserWedding.Count</td>
                @if(w.created_by == ViewBag.UserInfo.UserId){
                        <td>
                            <form action="delete" method="POST">
                                <input type="hidden" name="WeddingId" value="@w.WeddingId">
                                <button type="submit" name="delete">Delete</button>
                            </form>
                        </td>
                }
                    else{
                        if(w.UserWedding.Where(u => u.UserId == ViewBag.UserInfo.UserId).SingleOrDefault() == null)
                        {
                            <td>
                                <form action="rsvp" method="POST">
                                    <input type="hidden" name="WeddingId" value="@w.WeddingId">
                                    <button type="submit" name="rsvp">RSVP</button>
                                </form>
                            </td>
                        } else { 
                                <td>
                                    <form action="unrsvp" method="POST">
                                        <input type="hidden" name="WeddingId" value="@w.WeddingId">
                                        <button type="submit" name="rsvpid">Un-RSVP</button>
                                    </form>
                                </td>                   
                                }
                    } 
            </tr>
        }
</table>
<br>
<br>
<a href="newwedding"><button>New Wedding</button></a>

