<p> <a href="/dashboard">Dashboard</a> |<a href="/logout">Log Out</a></p>

<h1>@ViewBag.wedding.wedder_1 & @ViewBag.wedding.wedder_2's Wedding</h1><br>
<h4>@ViewBag.wedding.date.ToString("MMM d yyyy")</h4><br>
<p>Guests:</p>
@foreach(var g in ViewBag.wedding.UserWedding){
    <p>@g.User.fname @g.User.lname</p>
}
<iframe width="600" height="450" frameborder="2" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAWlfbrhFaZTt3SJWEu1umU18S6ibOWNTI
        &q=@ViewBag.wedding.address" allowfullscreen>
</iframe>